*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 15px;
}
.title{
    font-size: 3rem;
    font-weight: bold;
}
.logo-zone img{
    width: 55px;
    height: 55px;
}
#start-game{
    height: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}
#reset{
    height: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

/* ! main */
.wrapper{
    background-color: lightseagreen;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visibility{
    visibility: hidden;
}
.board-cont{
    width: 504px;
    height: 504px;
    display: flex;
    flex-wrap: wrap;
}
.easy{
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.medium{
    width: 55.5px;
    height: 55.5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hard{
    width: 71.4286px;
    height: 71.4286px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.board-cont, .easy, .medium, .hard{
    border: 2px solid white;
}
.active{
    background-color: lightcoral;
}
/* ? footer */
footer{
    height: 9vh;
    padding: 15px;
}